<tr data-hook="item_download">
  <td>Download Items:</td>
  <td>
    <ul>
    <% download.product_resources.each do |resource| %>
      <li><%= link_to resource.decorate.title, download.url_for(resource) %></li>
    <% end %>
    </ul>
  </td>
</tr>
