<tr data-hook="item_download">
  <% if @order.download.present? %>
    <td>Download Items:</td>
    <td>
      <ul>
      <% @order.download.product_resources.each do |resource| %>
        <li><%= link_to resource.title, resource.to_url %></li>
      <% end %>
      </ul>
    </td>
  <% end %>
</tr>
