<tr data-hook="item_download">
  <td>Download Items:</td>
  <td>
    <ul>
    <% @order.products.each do |product| %>
      <li><%= download_link_to product %></li>
    <% end %>
    </ul>
  </td>
</tr>
