%article{ itemid: artist.id, itemscope: true, itemtype: 'https://schema.org/MusicGroup' }
  = link_to artist, itemprop: 'image', title: artist.name do
    = attachment_image_tag artist, :image, :cover, alt: artist.name
