- cache artist do
  %article{ id: 'artist', itemid: artist.id, itemscope: true, itemtype: 'https://schema.org/MusicGroup' }
    %header
      %h1{ itemprop: 'name' }= artist.name
    %main
      %section.biography{ itemprop: 'biography' }
        = artist.bio
      - cache releases do
        %section.releases
          %h2 Latest Releases
          %ul{ itemprop: 'releases' }
            - releases.latest.first(5).each do |release|
                = render release
