<%= title_row artist.name %>

<div class="row">
  <div class="large-6 columns">
    <%= artist.decorate.photo %>
  </div>

  <div class="large-6 columns">
    <%= artist.decorate.bio %>
  </div>
</div>

<%= render 'controls', resource: artist if admin_signed_in? %>
