#title
  %h1
    = @artist.name
    just released something!
#description
  = @release.description
#tracks
  %h2 Download Now!
  %ol{:type => "1"}
    - @release.tracks.map(&:decorate).each do |track|
      %li= link_to track.title, track.url, target: '_blank'
= image_tag 'logo.jpg', alt: 'Wax Poetic Records'
