<%= title 'Who Are We?' %>

<p>
  Wax Poetic Records is an open-source record label specializing in
  soulful and energetic electronic music.
</p>

<h3>Powered By Open Source</h3>

<p>
  We use open source tools whenever possible to market and run our
  label. A big THANKS to all the developers that make the following
  projects possible!
</p>

<ul>
  <li>Ruby on Rails</li>
  <li>Ubuntu Linux</li>
  <li>Chef</li>
  <li>Spree</li>
  <li>jQuery</li>
  <li>Zurb Foundation</li>
  <li>CoffeeScript</li>
  <li>Sass</li>
  <li>and of course, HTML/CSS/JS!</li>
</ul>
