<div class="row">
  <div class="large-12 columns">
    <%= title 'Manifesto' %>

    <p>
      Wax Poetic Records was founded with the intention of bringing
      soulful and energetic electronic music to the ears of both
      consumers and producers. Our mission is to enable songwriters
      and producers to collaborate more freely and give listeners the
      best quality we can offer. In addition, we encourage our artists to
      develop their live performances, as we strongly believe it is a key
      factor to both career success and audience happiness. Wax Poetic artists
      are concerned with the impeccable quality of their music, the capability
      for other artists to build on their existing ideas, and the unrepeatable
      magic of their live shows.
    </p>

    <h3>Powered By Open Source</h3>

    <p>
      We use open source tools whenever possible to market and run our
      label. This entire online store and web site is
      <%= link_to 'powered by open-source software', 'http://github.com/waxpoetic' %>.
    </p>
  </div>
</div>
