<%= title 'Who Are We?' %>

<p>
  Wax Poetic Records is an open-source record label specializing in
  soulful and energetic electronic music.
</p>

<h3>Powered By Open Source</h3>

<p>
  We use open source tools whenever possible to market and run our
  label. This entire online store and web site is
  <%= link_to 'powered by open-source software', 'http://github.com/waxpoetic' %>.
</p>
