.row
  %h1 Welcome to Wax Poetic Records
%br
  %br
    .row
      .large-3.columns
        = image_tag 'insignia.jpeg'
      = succeed "%>" do
        .large-9.columns
      %p.elevator-pitch
        we're an open-source record label serving the electronic music community.
        our mission is to enable producers everywhere to have access to the
        music they enjoy for furthering their own experiments.
