<div class="row">
  <h1>Welcome to Wax Poetic Records</h1>
</div>
<br><br>
<div class="row">
  <div class="large-3 columns">
    <%= image_tag 'insignia.jpeg' %>
  </div>
  <div class="large-9 columns"%>
    <p class="elevator-pitch">
      we're an open-source record label serving the electronic music community.
      our mission is to enable producers everywhere to have access to the
      music they enjoy for furthering their own experiments.
    </p>
  </div>
</div>
