<div class="row">
  <h1>Welcome to Wax Poetic Records</h1>
</div>
<div class="row">
  <p>
    an open-source record label serving the electronic music community, our mission is to enable producers everywhere to have access to the music they enjoy for furthering their own musical interests.
  </p>
</div>
