<%= title 'License' %>

<p>
  This is our license for open-source works. It's included by default
  in every open-source edition that we distribute. By purchasing an open-source
  work, you are subject to the terms and conditions in the license below.
</p>

<pre id="license">Loading...</pre>
