// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#artists {
  form {
    margin-top: 15px;

    label {
      text-align: right;
      font-weight: bold;
    }
  }
}

#artist {
  .header {
    min-height: 240px;
    min-width: 480px;
  }
  h1 { display: none; }

  .content {
    margin-top: 10px;
  }

  .bio {
    margin-top: 10px;
  }

  .releases {
    ul {
      list-style: none;
      margin-left: 3px;

      li {
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
}

.artist.thumbnail {
  margin-bottom: 15px;
  border: 0;

  img {
    border: 0;
  }
}
