header {
  img.logo {
    height: 50px;
  }

  margin-bottom: 15px;
}

section.page {
  min-height: 545px;

  .elevator-pitch {
    font-size: 24px;
  }
}

footer {
  background: #EEE;

  ul {
    list-style: none;
  }

  .copyright {
    text-align: right;
  }

  .badge {
    height: 50px;
  }
}
