#release {
  .buttons {
    margin-top: 26px;
    text-align: right;
  }
  .description {
    margin-top: 10px;
  }
  .title {
    font-size: 38px;
  }
  .buy.button {
    bottom: 5px;
  }
}

#release-track-template {
  display: none;
}

.release.thumbnail {
  float: left;
  margin-left: 15px;
  border: 0;

  img { border: 0; }
}
