<div class="row controls">
  <div class="large-8 columns">&nbsp;</div>
  <div class="large-4 columns">
    <%= link_to 'Edit', edit_resource_path(resource), class: 'small button secondary' %>
    <%= destroy_link_to 'Delete', resource_path(resource), class: 'small button alert' %>
  </div>
</div>
