.admin.controls.row
  .large-12.columns
    = link_to 'Edit', edit_resource_path(resource), class: 'x-small button secondary'
    = destroy_link_to 'Delete', resource_path(resource), class: 'x-small button alert'
