<div class="gallery">
  <div class="row" id="resources">
    <% if resources.any? %>
      <%= render resources %>
    <% else %>
      <div id="empty" class="large-12 columns">
        No results.
      </div>
    <% end %>
  </div>
</div>
