<div class="row">
  <div class="large-10 columns">
    <%= title for_page %>
  </div>
<% if admin_signed_in? %>
  <div class="large-2 columns new-item">
    <%= admin_controls for_page, and_resource_if_available %>
  </div>
<% end %>
</div>
