<%= title 'Podcast' %>

<div class="info row">
  <p>
    <strong>Wax Poetic Radio</strong> is our monthly installment featuring the latest
    Wax Poetic music and other tracks from the electronic music community.
  </p>
</div>

<div class="episodes row">
  <%= render podcasts.by_episode_number %>
</div>
